name: CI/CD

on:
  push:
      branches: ["main", "dev"]
  pull_request:
    types: [closed]
    branches: [ "main", "dev" ]

permissions:  
  contents: read

jobs:
  CI-CD:
    runs-on: ubuntu-latest
    steps:
    
    ## jdk setting
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        
    ## gradle caching - 빌드 시간 향상
    - name: Gradle Caching
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-  

    ## create application-prod.yml with S3 configuration
    - name: make application-prod.yml
      run: |
        mkdir -p ./src/main/resources
        cd ./src/main/resources
        touch ./application.yml
        echo '${{ secrets.APPLICATION_YAML }}' > ./application.yml
        echo 'cloud:' >> ./application.yml
        echo '  aws:' >> ./application.yml
        echo '    s3:' >> ./application.yml
        echo '      bucket: kimganebucket' >> ./application.yml
        echo '      imagedns: https://image.starbuckskorea.kr/' >> ./application.yml
        echo '    region.static: ap-northeast-2' >> ./application.yml
        echo '    credentials:' >> ./application.yml
        echo '      accessKey: ${{ secrets.AWS_ACCESS_KEY_ID }}' >> ./application.yml
        echo '      secretKey: ${{ secrets.AWS_SECRET_ACCESS_KEY }}' >> ./application.yml
      shell: bash

    ## install AWS CLI
    - name: Install AWS CLI
      run: |
        sudo apt-get update
        sudo apt-get install awscli -y

    ## grant execute permission for gradlew
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    ## gradle build
    - name: Build with Gradle
      run: ./gradlew build -x test
      
    ## docker build & push to production
    - name: Docker build & push to prod
      run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_REPO }}/kimgane .
          docker push ${{ secrets.DOCKER_REPO }}/kimgane
          
    ## deploy to production
    - name: Deploy to prod
      uses: appleboy/ssh-action@master
      id: deploy-prod
      with:
        host: ${{ secrets.HOST_EC2 }} # EC2 퍼블릭 IPv4 DNS
        username: ubuntu
        key: ${{ secrets.PRIVATE_KEY }}
        envs: GITHUB_SHA
        script: |
          sudo docker stop kimgane
          sudo docker rm kimgane
          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/kimgane
          sudo docker run -d --name kimgane -p 10243:8000 ${{ secrets.DOCKER_USERNAME }}/kimgane
          sudo docker image prune -f
